.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/SP-Project/FileContentIndex/a9d0ff10-c874-4a9a-a55d-342a8b00abd4.vsidx
.vs/SP-Project/FileContentIndex/bde960e6-0ece-4ea1-9f6a-f49ab553a5a2.vsidx
.vs/SP-Project/FileContentIndex/be2af74a-1840-4657-a9dd-bf7d6ab50ab1.vsidx
.vs/SP-Project/v17/.wsuo
.vs/SP-Project/v17/Browse.VC.db
.vs/SP-Project/v17/Browse.VC.db-shm
.vs/SP-Project/v17/Browse.VC.db-wal
.vs/SP-Project/v17/Browse.VC.opendb
.vs/SP-Project/FileContentIndex/5358f62d-92f7-41f3-8e6c-0758808b32b9.vsidx
/.vs/SP-Project/FileContentIndex
.vs/SP-Project/v17/DocumentLayout.json
.vs/VSWorkspaceState.json
.vs/SP-Project/v17/ipch/AutoPCH/bd30dd35f5f50539/MAIN.ipch
